absl-py==0.11.0
alembic==1.7.7
aniso8601==9.0.1
astunparse==1.6.3
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.4
decorator==4.4.2
Flask==1.1.4
Flask-Cors==3.0.10
Flask-HTTPAuth==4.7.0
Flask-Migrate==2.6.0
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
greenlet==1.1.2
grpcio==1.32.0
idna==3.3
imageio==2.19.3
imageio-ffmpeg==0.4.7
importlib-metadata==4.11.4
importlib-resources==5.7.1
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.4.3
Keras-Preprocessing==1.1.2
Mako==1.2.0
Markdown==3.3.3
MarkupSafe==2.0.1
moviepy==1.0.3
numpy==1.21.6
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
passlib==1.7.4
Pillow==9.1.1
proglog==0.1.10
protobuf==3.14.0
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.6
six==1.16.0
SQLAlchemy==1.4.36
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
tqdm==4.64.0
typing-extensions==3.7.4.3
urllib3==1.26.9
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.8.0
